# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# supabase
.branches
.temp
.vercel

supabase/
*.md 

src\components\ConceptLearning.js
src\components\Evaluation.css
src\components\Evaluation.js
src\components\LearningComponent.css
src\components\LearningComponent.js
src\components\LearningSession.js
src\components\LearningSession.css
src\lib\learningFramework.js
src\lib\learningFramework.test.js